
</body>
<center><div data-role="footer" data-position="fixed">
  <a href="#">
<br><img title="Twitter" alt="Twitter" src="scripts/images/twitter.png" width="45" height="45" />
</a>
<a href="#">
<img title="Insta" alt="Instagram" src="scripts/images/insta.jpg" width="45" height="45" />
</a>
<a href="#">
<img title="linkedin" alt="LinkedIn" src="scripts/images/linkedin.png" width="45" height="45" />
</a>
<a href="#">
<img title="Facebook" alt="Facebook" src="scripts/images/fb.png" width="45" height="45" />
</a>
<a href="#">
<img title="GitHub" alt="GitHub" src="scripts/images/github.png" width="45" height="45" />
</a>
  </div></center>
</html>