/*@font-face{
      font-family: PokerKings-Regular;
	  src: url("PokerKings-Regular.ttf");
}


  
 #page{ 
   
    background: url("background.jpg") no-repeat fixed center; 
    background-size: contain;
}


h1{
    font-family: PokerKings-Regular; 
    font-size: 70px;

    text-align: center;
    color: black;
}*/