<% include partials/header.ejs %>

    <div class="container">
        <div class="col-md-8 col-md-offset-2 jumbotron" style="border: 3px solid rgba(0, 0, 0, 0.35); margin-top: 200px;">
            <div class="row">
                <center>
                    <h1>Do My Survey</h1></center>
                <br>
                <div class="col-md-4" ">
                <a href=" " class="btn btn-lg btn-primary btn-block " type="submit ">Guests</a>
            </div>    
            <div class="col-md-4 "">
                    <a href="/login" class="btn btn-lg btn-primary btn-block" type="submit">Login</a>
                </div>
                <div class="col-md-4" ">
                <a href = "sign_up " class="btn btn-lg btn-primary btn-block " type="submit ">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
<!-- /container -->

<% include partials/footer.ejs %>