<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

<div class="container" style="background-color: #FFF; opacity: 1">
    <div class="page-header">
        <h1>Do my Survey</h1>
    </div>
    <form method="POST">
        Question 1: <input type="text" name="response" /><br>
        Question 2: <input type="text" name="response" /><br>
        Question 3: <input type="text" name="response" /><br>
        Question 4: <input type="text" name="response" /><br>
        Question 5: <input type="text" name="response" /><br>
        <button type="submit">Create</button>
    </form>
</div>
<!-- /container -->

<% include ../partials/footer.ejs %>