<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

<div class="container" style="background-color: #FFF; opacity: 1">
    <div class="page-header">
        <h1>Do my Survey</h1>
    </div>
    <%= survey %>
</div>
<!-- /container -->

<% include ../partials/footer.ejs %>